@{
    ViewData["Title"] = "Sandras bank";
}

@model SandrasBank.Web.Models.BankRepository

<div class="text-center">
    <h1 class="display-4">Välkommen till Sandras bank!</h1>    
</div>

<div>
    <ul>
        @foreach(var customer in Model.Customers)
        {
            <li>
                @customer.CustomerId: @customer.Name, Kontonr: @customer.AccountId
            </li>
        }
    </ul>
</div>
